/* STEFAN */

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
}

.pictureIngredientsContainer {
  display: flex;
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
}

/* NITA */
/*footer styling*/

#footer{
  background-color:#D2B48C ;
 }

 .footer-content{

  display: flex;
  margin-top: 20px;
 
  }
.stay-touch{
  margin-left: 20%;
  font-style: italic;
}

.stay-touch h2 {
  font-size: 3rem;
}

.stay-touch p {
  font-size: 1.5rem;
}

.email-bar{
  display: block;
  margin-left: 20%;
  align-content: space-between;
}

.submit-button{
  background-color:black;
  color: white;
  min-width: 350px;
  min-height: 40px;
  border-color: black;
  font-style: italic;
}

.s-icon{
  font-size: 25px;
  
  display: flex;
  justify-content:space-between;
}
.input-button{
  background-color: white;
  min-width: 350px;
  min-height: 40px;
  text-align: center;
  text-decoration-color: black;
  margin-bottom:10px ;
  margin-top: 10px;
  font-style: italic;
}
#copyright1{
display: flex;
justify-content: center;
margin-top: 60px;
font-size: 12px;
}
  /*header styling*/
  

  
  .header-container{
    display:flex;
    background-color:#D2B48C ;
  }
  
  
  .header-container ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .header-container li {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    text-decoration: none;

  }
  
  .header-container a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
  }
  .image-box img {
    background-image: url('hero-image.jpeg');
   padding-left: 0px;
   max-width:100%;
   min-height:800px;
   padding-right:10px;
   }
   .text-overlay {
    position: absolute;
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color:whitesmoke;
}
.text-overlay p {
  font-size: 3rem;
  font-style: italic;

}
.main-container{
  background-color: #D2B48C;
}
  /*----container3 ----*/
  .main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 20px;
    align-items: flex-start;
    
  }
  
  
  .flex-container h2{
    font-style: italic;
    font-weight:3rem;
    font-weight:2px solid black ;


  }
  .flex-container p{
    font-style: italic;
    font: 1em ;
    font-weight: bold;
  }

  
  
/* DARELL */
:where(.css-dev-only-do-not-override-18iikkb).ant-btn-primary {
  background-color: black;
  margin: 0px;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: rgb(221, 123, 3);
  
}

:where(.css-dev-only-do-not-override-18iikkb).ant-input-search .ant-input:hover {
  border-color: rgb(221, 123, 3);
}

:where(.css-dev-only-do-not-override-18iikkb).ant-input-search .ant-input:hover, :where(.css-dev-only-do-not-override-18iikkb).ant-input-search .ant-input:focus {
  border-color:rgb(221, 123, 3);
}

.refreshButton {
  margin: 0px;
  /* border-style: solid; */
  background-color: black;
  cursor: pointer;
  transition: all 0.20s ease-in;
}

.refreshButton:hover {
  background-color: rgb(221, 123, 3);;
  border-color: rgb(221, 123, 3);

}

/* KATE */
.mainContainer {
  margin: 0;
  padding: 0%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: left center;
}

.recipeName {
  font-size: 50px;
  margin-top: 20px;
}

.pictureIngredientsContainer {
  display: flex;

  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.recipeIngridients {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin: 30px;
}
ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding: 10px 30px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Rotten_Tomatoes.svg/1200px-Rotten_Tomatoes.svg.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  font-size: 25px;
}

ol li {
  list-style: none;
  padding: 10px 30px;
  background-image: url("https://www.svgrepo.com/show/86058/check-mark.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  font-size: 25px;
}

.recipePicture {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.recipePicture img {
  width: 50%;
  height: 50%;
  border-radius: 5%;
}

